<component-totalizer
  [count]="10"
  [title]="'Users'"
  [actions]="[
    {
      label: 'Create',
      icon: '+',
      callback: (item) => createUser(),
    },
  ]"
></component-totalizer>

<component-table
  [items]="[{ id: 1, name: 'John Doe', email: 'john.doe@example.com' }]"
  [columns]="[
    { name: 'id', label: 'ID' },
    { name: 'name', label: 'Name' },
    { name: 'email', label: 'Email' },
    { name: 'actions', label: 'Actions' },
  ]"
  [actions]="[
    {
      label: 'Edit',
      icon: 'edit',
      callback: (item) => updateUser(item),
    },
    {
      label: 'Delete',
      icon: 'delete',
      callback: (item) => deleteUser(item),
    },
  ]"
></component-table>
